<!DOCTYPE html>
<html>
<head>

</head>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
</head>

<body>
<h1>Oops! Something wrong! </h1>
<br>
You should be able to search again. 
<br><br>
{% if inCache %}
    {% for c in inCache %}
        current index in cache: <br>
        start: {{c.start}}<br>
        number: {{c.number}}<br>
        timestamp: {{c.timestamp}}<br>
        <br>
        Continue searching using the current index? <br>
    {% endfor %}
{% else %}
    No files indexed in cache currently. Please crawl before use.<br>
{% endif %}
<br>
<form action=" {% url 'query:search' %} " method="get">
<table>
    <tr>
        <td><label for="q">query: </label></td>
        <td><input id="q" type="text" name="q" value=" "></td>
    </tr>
    <tr>
        <td><label for="k">k:</label></td>
        <td><input id="k" type="text" name="k" value="0"></td> 
        <td>{% load static %} <a href="{% static 'queryenhancement.html' %}"> What's this? </a></td>
    </tr>
    <tr>
        <td></td><td><input type="submit" value="Go! "></td>
    </tr>
</table>
</form>
<!--
<br>
<h2>Note</h2>
{% if inCache %}
    There are files in cache. Re-crawling will dispose all existing files!
{% else %}
    No files indexed in cache currently. Please crawl before use.<br>
{% endif %}
<br>
Crawling hundreds of pages can take as long as tens of minutes. 
<br>
Please wait patiently for the page to load. 
<br>
<br>
<form action="crawl" method="post">
{% csrf_token %}
    <label for="start">start: </label>
    <input id="start" type="text" name="start" value="{{ start }}">
    <br>
    <label for="number">number: </label>
    <input id="number" type="text" name="number" value="{{ number }}">
    <br>
    <label for="domain">domain: </label>
    <input id="domain" type="text" name="domain" value="{{ domain }}">
    <br>
    <input type="submit" value="Let's crawl!" onclick="return confirm('Are you sure you sure to despose the current index? Re-indexing could take minites! ')">
</form>
-->

</body>


</html>
